/* font-family: 'Karla', sans-serif; */

/*
navy-blue: rgba(20, 33, 61, 1);
yellow:    rgba(252, 163, 17, 1);
darkgrey:  rgba(196, 196, 196, 1);
grey:      rgba(229, 229, 229, 1);
white:     rgba(255, 255, 255, 1);
blue:      #2BFEC8
*/

/* Globals */

html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  background: rgba(249, 249, 249, 1);
}

a {
 text-decoration: none;
 color: rgba(252, 163, 17, 1);
}

a:hover {
 text-decoration: none;
 color: black;
}

a:visited {
  color: grey;
}

hr {
  display: inline-block;
}

p {
  font-size: 17px;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  color: grey;
  font-size: 30px;
  font-weight: 300;
}

h4 {
  font-size: 25px;
  margin: 0;
}

h5 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

hr {
  width: 40px;
  margin: 15px 10px 16px 0;
  border: 1.5px solid black;
}

h3 span {
  padding: 0 2px;
  box-shadow: inset 0 -10px 0 0 rgba(252, 163, 17, 1);
}

h4 span {
  padding: 0 2px;
  box-shadow: inset 0 -12px 0 0 rgba(252, 163, 17, 1);
}

figure {
  margin: 0;
  padding: 0;
}

.col-left {
  display: inline-block;
  position: relative;
  width: 60%;
}

.col-right {
  display: inline-block;
  position: relative;
  width: 40%;
  float: right;
}


.col-full {
  width: 100%;
}

.col-third {
  width: 33%;
  min-height: 200px;
  background: black;
  display: inline-block;
  position: relative;
}

.col-two-third {
  width: 66%;
  min-height: 200px;
  background: black;
  display: inline-block;
  position: relative;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

::-moz-selection {
background-color: rgba(252, 163, 17, 1);
color: black;
}

::selection {
background-color: rgba(252, 163, 17, 1);
color: black;
}

/* Header */

/* svg:hover {
  transform: translate3d(5px, 5px, 0px);
} */



/* Navigation & Logo */

.navigation{
  margin: 50px 0 100px 0;
  position: relative;
  padding: 0 50px;
}

.navigation hr {
  margin: 4px 7px;
  width: 15px;
  border: 1px solid black;
}

.cat-container{
  display: inline-block;
  position: relative;
  max-width: 75%;
  float: right;
  margin-top: 15px;
}

.logo-container {
  width: 230px;
  height: 40px;
  display: inline-block;
  float: left;

}

.logo-container img {
  width: 100%;
  height: 100%;
}

.navigation .cat-container a {
  padding: 0 25px;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  color: black;
}

/* Header Content */

.header-text {
  position: relative;
  margin: 100px 0 20px 50px;
}

.header-text h1, h2, h3 {
  color: black;
}

.header-text h1 {
  margin: 0;
}

.header-text h2 {
  font-size: 35px;
  font-weight: 200;
  margin: 7px 0 7px 55px;
}

h2 span {
  padding: 0 2px;
  box-shadow: inset 0 -17px 0 0 rgba(252, 163, 17, 1);
}


.header-text h3 {
  font-size: 18px;
  font-weight: 200;
  margin: 35px 0 50px 55px;
}

.header-text hr {
  width: 40px;
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 16px;
  border: 1.5px solid black;
}

/* Button About me */
.btn-about-me {
  position: relative;
  display: inline-block;
  max-width: 300px;
  max-height: 100px;
  margin-left: 50px;
}
.btn-about-me .btn-rect {
  fill: rgba(252, 163, 17, 1);
}

.btn-about-me .btn-shadow{
  fill: lightgrey;
}

.btn-about-me .btn-text{
  fill: black;
  font-size: 20px;
  font-weight: 500;
}

header .col-left {
  min-height: 550px;
}

.header-img {
  width: 100%;
  height: 650px;
  position: relative;
  background-image: url(../img/portrait.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* test */

.more-info {
  width: 100%;
  background-color: white;
  padding: 80px 50px 80px 50px;
}

.more-info h2 {
  display: inline-block;
  color: grey;
}

.more-info p {
  margin: 40px 60px;
  font-size: 17px;
  line-height: 28px;
}

.more-info hr {
  margin: 6px 15px;
  width: 30px;
  border: 1.5px solid grey;
}

.facts {
  width: 100%;
  min-height: 400px;
  margin-top: -370px;
  padding: 20px;
  text-align: right;
  z-index: -1;
  position: relative;
}
.facts hr {
  margin: 6px 15px;
  width: 30px;
  border: 1.5px solid grey;
}

.facts h2 {
  color: grey;
}

.facts ul {
  color: black;
  margin: 0 60px 0 0;
  font-size: 18px;
  display: inline-block;
  list-style-type: none;
}
.facts li {
  margin: 20px 0;
}

.contact-me {
  padding: 60px 60px;
  background: rgb(85, 91, 110);
}
.contact-me h1 {
  color: white;
  display: inline-block;
  font-size: 30px;
}

.contact-me hr {
  width: 30px;
  margin-left: 0;
  margin-bottom: 7px;
  border: 1.5px solid white;
}

/* Button Write me */
.btn-write-me {
  display: inline-block;
  max-width: 300px;
  max-height: 100px;
  float: right;
  margin-top: 15px;
}
.btn-write-me .btn-rect {
  fill: rgba(252, 163, 17, 1);
}

.btn-write-me .btn-shadow{
  fill: rgb(54, 56, 65);
}

.btn-write-me .btn-text{
  fill: black;
  font-size: 20px;
  font-weight: 500;
}

/* Work Experience */

.work {
  padding: 80px 50px 80px 70px;
  width: 100%;
}

.work h1 {
  font-size: 40px;
}

.work .col-left p {
  text-transform: uppercase;
}

.work p, .work li {
  font-size: 17px;
  line-height: 28px;
}

.work hr, .education hr {
  margin-bottom: 15px;
  width: 30px;
}

.work .col-left {
  padding: 20px 0 0 50px;
  /* border: 1px solid black; */
  width: 33%;
}

.work .col-right {
  padding: 0 0 0 0;
  /* border: 1px solid black; */
  width: 65%;
}

/* Education */

.education {
  padding: 80px 50px 80px 70px;
  width: 100%;
  background-color: white;
}

.edu-box {
  padding: 20px 0 20px 50px;
}

.edu-box p {
  line-height: 10px;
}

.edu-box:last-of-type {
  padding-bottom: 0;
}

/* Projects */

.projects {
  padding: 80px 0 150px 0;
}

.projects h1 {
  margin: 0 0 60px 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: hidden;
  position: relative;
}

.grid-container h4{
  font-size: 20px;
  margin: 20px 20px 0 20px;
  color: white;
}

.grid-container p{
  font-size: 15px;
  color: white;
  margin: 5px 20px 20px 20px;
}

.projects .text-bg {
  position: absolute;
  height: 100px;
  max-width: 70%;
  bottom: 50px;
  left: 50px;
  background-color: rgba(85, 91, 110, .9);
}

.projects .date-bg {
  position: absolute;
  top: 0;
  right: 30px;
  background-color: rgba(85, 91, 110, .9);
}

.projects .date-bg p{
  font-size: 15px;
  color: white;
  margin: 10px 10px 10px 10px;
}

.preview1, .preview2, .preview3,
.preview4, .preview5, .preview6 {
  width: auto;
  height: 0%;
  padding-bottom: 80%;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
  position: relative;
}

.preview1:hover, .preview2:hover, .preview3:hover,
.preview4:hover, .preview5:hover, .preview6:hover {
  box-shadow: inset 0 0 0 10px rgba(252, 163, 17, 1);
}

.preview1 {
  background-image: url(../img/trippr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preview2 {
  background-image: url(../img/research.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preview3 {
  background-image: url(../img/experience.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preview4 {
  background-image: url(../img/clanket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preview5 {
  background-image: url(../img/iux.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preview6 {
  background-image: url(../img/cheesus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Footer */

footer .col-full{
  background: rgb(85, 91, 110);
  color: white;
  text-align: center;
  padding: 30px;
}

footer p {
  font-size: 13px;
}

.social-media {
  display: inline-block;
  font-size: 30px;
  margin: 40px 0;
}

.social-media i{
  padding: 0 10px;
  color: white;
}

.social-media i:hover{
  padding: 0 10px;
  color: rgba(252, 163, 17, 1);
}

/* School Project */

.project-title {
  padding: 0 0 20px 60px;

}

.project-title h2{
  padding: 0 0 0 50px;
}

.project-window {
  margin: 60px 0 0 0;
  width: 100%;
  height: 300px;
  background-image: url(../img/trippr_big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.project-details {
  width: 100%;
  padding: 60px;
  background-color: white;
}

.project-details p{
  font-size: 20px;
  line-height: 30px;
}

.project-details h3{
  font-size: 24px;
  margin: 80px 0 40px 0;
}

.project-details img{
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.project-details iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-details a p{
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}

@media screen and (max-width: 1100px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
}
